################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/WeatherForecast.Api/bin/
/WeatherForecast.Api/obj
/WeatherForecast.IntegrationTests/bin/
/WeatherForecast.IntegrationTests/obj/

/.vs
